[Unit]
Description=TNFS Server
After=remote-fs.target
After=syslog.target

# replace /tnfs with your TNFS directory

[Service]
User=tnfs
Group=tnfs
ExecStart=/usr/local/sbin/tnfsd /tnfs

# systemd's default soft limit is 1024; tnfsd needs far more.
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
